@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-primary: #CEEAD9;
    --color-secondary: #22C55E;
    --color-tertiary: #16A34A;

    --text-base: 0.8rem;
}

body {
    @apply font-inter ;
}

